#top_nav{
    background-color: #daac00 ;
    padding: 1% 9%;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #fff;
    font-size: 20px;
    padding-left: 25px;
}
#searchbox::placeholder{
    color: white;
}

#searchbox{
    background-color: #fcc302;
    color: white;
    border: 0;
    border-radius: 0;
    position: relative;
    left: 50px;
    box-shadow: 5px 10px 11px 0px #4c4a4a00;
}
#searchbtn{
    position: relative;
    z-index: 99;
    background-color: #00bec9;
    border: 0;
    border-radius: 0;
}

@media only screen and (max-width:768px){
    #searchform{
        margin-top: 20px;
        margin-bottom: 30px;
        position: relative;
        left: -25px;
    }
}

.about{
    
    background-color: #fcc302;
    padding:50px 0;
 
}
#bannertext h1{
    margin-top: 50px;
    font-size: 45px;
    color: white;
    text-shadow: 5px 5px 5px #222;
}
#bannertext p{
    color: white;
    margin-top: 15px;
    margin-bottom: 20px;
}
#banner-btn-1{
    background-color: #00bec9;
    border: 2px solid #00bec9;
    color: white;
}
#banner-btn-2{
    background-color: white;
    border: 2px solid white;
    margin-left: 20px ;
}
#bannerimg {
    filter: drop-shadow(5px 5px 5px #222);
}

/* service */
#service-text{
    padding-top: 10%;
    padding-bottom: 5%;
}
#service-btn{
    color: white;
    background-color: #fcc302;
    border: 2px solid #fcc302;
}
#service-img{
    padding: 5%;    
}
#service-text h1{
    /* margin-top: 50px; */
    font-size: 40px;
    color: black;
}
#service-text p{
    color: black;
    margin-top: 15px;
    margin-bottom: 20px;
}
#service-btn{
    color: white;
    background-color: #fcc302;
    border: 2px solid #fcc302;
}